[submodule "vendor/WalletWasabi"]
	path = vendor/WalletWasabi
	url = git@github.com:trezor/WalletWasabi.git
[submodule "vendor/coinjoin-affiliate-server"]
	path = vendor/coinjoin-affiliate-server
	url = git@github.com:trezor/coinjoin-affiliate-server.git
	branch = coordinator-integration
