[submodule "vendor/WalletWasabi"]
	path = vendor/WalletWasabi
	url = https://github.com/zkSNACKs/WalletWasabi.git
[submodule "vendor/WalletWasabi-satoshilabs"]
	path = vendor/WalletWasabi-satoshilabs
	url = git@gitlab.com:satoshilabs/trezor/WalletWasabi.git
