name: "[Build] coinjoin-backend image & push to registry"

on:
  pull_request:
    branches:
      - onvej-sl/master-rebased-test
  push:
    branches:
      - onvej-sl/master-rebased-test

jobs:
  build_images:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ secrets.TREZOR_BOT_USERNAME }}
          password: ${{ secrets.TREZOR_BOT_TOKEN }}
      - name: Build and push coinjoin-backend
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/coinjoin-backend:${{ github.sha }}
            ghcr.io/${{ github.repository_owner }}/coinjoin-backend:latest
